<?xml version="1.0" encoding="utf-8" ?>
<beans
        xmlns="http://www.springframework.org/schema/beans"

        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="pointA" class="com.anurag.draw.Point">
        <property name="x" value="10"/>
        <property name="y" value="12"/>
    </bean>
    <bean id="pointB" class="com.anurag.draw.Point">
        <property name="x" value="22"/>
        <property name="y" value="24"/>
    </bean>
    <bean id="pointC" class="com.anurag.draw.Point">
        <property name="x" value="33"/>
        <property name="y" value="35"/>
    </bean>

    <bean id="triangle-parent" class="com.anurag.draw.Triangle">
        <property name="points">
            <list>
                <ref bean="pointC"/>
            </list>
        </property>
    </bean>

    <bean id="triangle" class="com.anurag.draw.Triangle" parent="triangle-parent">
        <property name="points">
            <list merge="true">
                <ref bean="pointA"/>
                <ref bean="pointB"/>
            </list>
        </property>
    </bean>


</beans>